:root {
  --primary: #1e1f22;
  --secondary: #2bebc8;
  --gray: #60626c;
  --gray-second: #2c2c2c;
  --purple: #6746ed;
  --purple-second: #ddd7ff;
  --font-family: "Lato", sans-serif !important;
  --text-color: white;
}
